<div class="card text-success">
  <div class="position-relative">
    <img src="https://www.vice.com/wp-content/uploads/sites/2/2019/11/1573610428860-Avatar-2.jpeg" class="card-img" alt="Product">
    <div class="position-absolute top-50 start-50 translate-middle text-center bg-dark bg-opacity-50 px-3 py-2">
      <h2 class="card-title mb-2">"Bringing you the most unforgettable <strong> movies,</strong> handpicked just for you"</h2>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://cimg.kgl-systems.io/camion/files/famitsu/8657/58414e57bfcf8f48a14e8afe5660adf9.jpg?x=767') %>)">
        <%= link_to list.name, list_path(list), class:'text-decoration-none text-white' %>
        <p class="x"><%= link_to "X", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure"}, class:'text-decoration-none' %> </p>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-5">
  <h3>Create a New List</h3>
  <%= render "form", list: @list %>
</div>
